<a href="https://colab.research.google.com/github/raheelam98/Data_Analytics_with_AI/blob/main/EDA/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **EDA**


- **Univariate Analysis :**
Univariate analysis focuses on analyzing each feature in the dataset independently.  

- **Distribution analysis :** The distribution of each feature is examined to identify its shape, central ten…  

- **Identifying potential issues :** Univariate analysis helps in

The shape of a data distribution refers to its overall pattern or form as it is represented on a graph.  

- **Normal Distribution :** A symmetrical and bell-shaped distribution where the mean, median, and mode are equal  

- **Skewed Distribution :** A distribution that is not symmetrical, with one tail being longer than the other.  

- **Bimodal Distribution :** A distribution with two peaks or modes.  

- **Uniform Distribution :** A distribution where all values have an equal chance of occurring.  

The shape of the data distribution is important in identifying the presence of outliers, skewness, and

## **Qualitative vs Quantitative Data**

### **Quantitative (numeric values that can be quantified)**

#### **Continuous**
- Infinite values within a range  
- **Example:** height, weight  

#### **Discrete**
- Finite values within a range  
- **Example:** shoe size  


### **Qualitative (non-numeric & descriptive)**

#### **Nominal**
- Labels or categories  
- **Example:** blood type, gender  

#### **Ordinal**
- Ranked categories  
- **Example:** grades A–F, satisfaction rating

**Notes RM**

### **Probability Distributions in Data Analysis**

#### **Normal Distribution**  

A Normal Distribution is a type of probability distribution that is:  

* Symmetrical around its mean  
* Bell-shaped when plotted on a graph  
* Has mean = median = mode  
* Most data points cluster around the center, and probabilities decrease as you move further from the mean  

**Example**: Heights, weights, and exam scores often follow a normal distribution.  

#### **Skewed Distribution**  

A Skewed Distribution is a type of probability distribution that is not symmetrical.  
It occurs when one tail of the distribution is longer than the other.  

* **Positively Skewed (Right-Skewed):** The tail extends to the right, with most data concentrated on the left.  
* **Negatively Skewed (Left-Skewed):** The tail extends to the left, with most data concentrated on the right.  

**Example**:  
* Right-skewed: Income distribution (a few very high incomes pull the mean to the right).  
* Left-skewed: Age at retirement (most people retire around a certain age, but some retire very early).  

#### **Bimodal Distribution**  

A Bimodal Distribution is a probability distribution with **two distinct peaks (modes)**.  
This indicates the data has two dominant groups or clusters.  

* The peaks may represent two different populations within the same dataset.  
* Mean and median may not align with either peak.  

**Example**:  
* Exam scores where a class has two groups — one who studied and one who didn’t.  
* Heights in a dataset containing both adults and children.  

#### **Uniform Distribution**  

A Uniform Distribution is a probability distribution where **all outcomes are equally likely**.  
The graph looks like a **rectangle** since each value has the same probability.  

* No peaks, every event has equal chance.  
* Mean and median are the same.  

**Example**:  
* Rolling a fair dice (each face has a 1/6 chance).  
* Choosing a random card from a well-shuffled deck.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# List Files in a Folder
!ls /content/drive/MyDrive/EDA/

ai_adoption_dataset.csv  cubic_zirconia.csv		    Scarped_Zameen.xlsx
bus_fare_dataset.csv	 pakistan_intellectual_capital.csv  train.csv

In [3]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

The Titanic dataset from Kaggle is widely used for data analysis, machine learning, and feature engineering.

[Titanic dataset from Kaggle](https://www.kaggle.com/competitions/titanic)

In [4]:
#Read CSV File from Google Drive
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/EDA/train.csv')

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
# get column names
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
# get column names list
print(df.columns.tolist())

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

**It is an iterative process**

**Columns Types**

- **Nominal :** Survived, Pclass, Sex, SibSp, Parch, Embarked

- **Ordinal :** Age, Fare, PassengerId

- **Mix :** Name, Ticket, Cabin


#### **Nominal**
- Labels or categories  
- **Example:** blood type, gender  

#### **Ordinal**
- Ranked categories  
- **Example:** grades A–F, satisfaction rating  



 ---

mistake

- **Nominal :** PassengerId, Age, Ticket, Fare, Cabin, Name

- **Ordinal :** Survived, Pclass, SibSp, Parch, Embarked, Sex

- **Mix :**